@model UserIndexViewModel

<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center">Dashboard</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-center">Sent Transactions</h5>
                @foreach (var t in Model.SentTransactions)
                {
                    <div class="row justify-content-center link-as-text">
                        <a asp-controller="Transactions" , asp-action="Details" asp-route-id="@t.Id">You sent @t.Credits credits to @t.ReceiverUsername</a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Received Transactions</h5>
                @foreach (var t in Model.ReceivedTransactions)
                {
                    <div class="row justify-content-center link-as-text">
                        <a asp-controller="Transactions" , asp-action="Details" asp-route-id="@t.Id">@t.SenderUsername sent you @t.Credits credits</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>